<div class="alert"><%= flash[:message]%></div>

<h2>New Message</h2>

<%= form_for @message, html: {class: 'ink-form all-50 small-100 tiny-100'} do |f| %>

  <div class="control-group required">
    <%= f.label :sender_email %>
    <span>example@gmail.com</span>
    <div class="control">
      <%= f.email_field :sender_email %>
      <% if @message.errors[:sender_email] %>
        <p class="tip error"><%= @message.errors[:sender_email].join(", ") %></p>
      <% end %>
    </div>
  </div>

  <div class="control-group required">
    <%= f.label :sender_phone %>
    <span>+14159998888</span>
    <div class="control">
      <%= f.telephone_field :sender_phone %>
      <% if @message.errors[:sender_phone] %>
        <p class="tip error"><%= @message.errors[:sender_phone].join(", ") %></p>
      <% end %>
    </div>
  </div>

  <div class="control-group required">
    <%= f.label :recipient_email %>
    <span>example@gmail.com</span>
    <div class="control">
      <%= f.email_field :recipient_email %>
      <% if @message.errors[:recipient_email] %>
        <p class="tip error"><%= @message.errors[:recipient_email].join(", ") %></p>
      <% end %>
    </div>
  </div>

  <div class="control-group required">
    <%= f.label :recipient_phone %>
    <span>+14159998888</span>
    <div class="control">
      <%= f.telephone_field :recipient_phone %>
      <% if @message.errors[:recipient_phone] %>
        <p class="tip error"><%= @message.errors[:recipient_phone].join(", ") %></p>
      <% end %>
    </div>
  </div>

  <div class="control-group required">
    <%= f.label :body %>
    <div class="control">
      <%= f.text_area :body %>
    </div>
  </div>
  <div class="control-group column-group">
    <div class="control all-80">&nbsp;
    </div>
    <div class="control all-20">
      <%= f.submit "Send", class: 'ink-button' %>
    </div>
  </div>
<% end %>
